<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="heart-particle-box">
   <button class="likes post-likes" id="heart-icon" data-post-id="{{ post.id }}">
   {% if liked %}
   <i class="heart-shaped fa fa-heart" style="display: line-block"></i>
   <i class="heart-shaped fa fa-heart-o" style="display: none"></i>
   {% else %}
   <i class="heart-shaped fa fa-heart" style="display: none"></i>
   <i class="heart-shaped fa fa-heart-o" style="display: line-block"></i>
   {% endif %}
   </button>
   <div class="like_count_blog" id="heart-counter">{{ post.likes }}</div>
</div>
</body>
</html>